    /* 헌법 코드 */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    ul {
        display: flex;
        gap: 20px;
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #555;
        font-size: 16px;
    }
    a:hover {
        color: #000;
    }
    main {
        margin-top: 60px;
    }
    
    /* PC 화면 기본 스타일 */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .brand-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    h1 {
        font-size: 16px;
        color: #555;
        margin-top: 4px;
    }
    .logo {
        width: 100px;
        height: auto;
    }
    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 120px;
        background-color: #f0f0f0;
    }
    .project-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
    }
    .project-item {
        flex-basis: calc((100% - 4vw) / 3);
    }
    .project-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    /* 모바일 스타일 (화면이 768px 이하일 때만 적용) */
    @media (max-width: 768px) {
        .container {
            padding: 0 20px;
        }
        
        /* 모바일 헤더 */
        header {
            flex-wrap: wrap;
        }
        nav {
            width: 100%;
            margin-top: 16px;
            display: flex;
            justify-content: flex-end;
        }
        
        /* 갤러리 */
        .project-gallery {
            gap: 20px;
            justify-content: space-between;
        }
        .project-item {
            flex-basis: calc(50% - 10px);
        }
        
        /* 모바일 로고와 h1의 간격 */
        .brand-group {
            margin-bottom: 20px;
        }
    }
